.cr__banner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #776e6e;
  margin: 6rem 0;
  padding: 6rem 0;
}

.cr__banner-content {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

cr__banner-content__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  text-align: center;
}

.cr__banner-content__text h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.3;
}



@media screen and (max-width: 770px) {
  .cr__banner-content__text h2 {
    font-size: 2.5rem;
}
.cr__banner-content__text p {
  font-size: 1rem;
}
}
@media screen and (max-width: 550px) {
  .cr__banner-content__text h2 {
    font-size: 2rem;
}
.cr__banner-content__text p {
  font-size: 0.8rem;
}
}
@media screen and (max-width: 470px) {
  .cr__banner-content__text h2 {
    font-size: 1.5rem;
}
.cr__banner-content__text p {
  font-size: 0.7rem;
}
}