

.cr__download {
  background-image: url("src/assets/bg02.png");
  background-color: #776e6e;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  /* padding: 8rem 0; */
}

.cr__download-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
  text-align: left;
}
 
.cr__download-text h2 {
    font-size: 2.0rem;
    color: seagreen;
  }

.cr__download-text p {
    font-size: 1.0rem;
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: 1.5;
  }

.cr__download-text__btns {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
   

.cr__download-text__btns img {
      width: 30%;
      cursor: pointer;
}


/*desktops - higher resolution*/
@media (min-width: 1281px){}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .cr__download-text {
    max-width: 30rem;
}
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .cr__download {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    margin: 0 auto;
}

.cr__download-text {
  max-width: 30rem;
}
}